.container {
  width: 100%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  position: fixed;
  z-index: 1000;
  background: var(--background-header);
}

.device-grid-container {
  width: 100%;
  max-width: 500px;
  display: grid;
  justify-content: start;
  background: var(--background-header);

}

.device-grid-container-device-info {
  display: flex;
  align-items: center;
  background: var(--background-header);
  margin-left: 9px;
}

.device-grid-container-device-image {
  display: flex;
  align-items: center;
  width: 100%;
  background: var(--background-header);
  margin-left: 5px;
}

.device-grid-container-device-image img {
  width: clamp(100px, 20vw, 110px);
  padding-right: 20px;
}

.device-grid-container-device-info div {
  display: flex;
  align-items: center;
}

.form-control {
  min-width: 120px;
  display: flex;
  align-items: center;
  background: var(--background-color);
  justify-content: center;

}

.native-select {
  font-size: var(--text-size);
  text-align: center;
  background: var(--background-color);
  border: none;
  outline: none;
  border-bottom: 2px solid #737171;
  color: var(--text-color);
}


.native-select option {
  text-align: center;
}

.native-select:focus {
  border-bottom: 2px solid #5c8fd5;
}

.cardSettings {
  display: flex;
  align-items: center;
  max-width: 588px;
  min-width: 280px;
  max-height: 165px;
  min-height: 134px;
  margin-bottom: 6px;
  background: var(--background-device-card);
  color: var(--text-color);
}