/* Общие стили для header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 25px;
  background-color: #494545;
  color: #fff;
}

/* Стили для лого */
.logo {
  font-size: 24px;
  font-weight: bold;
}

/* Стили для меню */
.menu {
  display: flex;
  align-items: center;
}

.menu-list {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.menu-list li {
  cursor: pointer;
}

/* Стили для мобильного меню */
.menu.mobile .menu-list {
  flex-direction: column;
  position: absolute;
  top: 60px;
  right: 20px;
  background-color: #333;
  padding: 10px;
  border-radius: 5px;
}

/* Стили для кнопки бургер-меню */
.burger-button {
  background: none;
  border: none;
  color: #fff;
  font-size: 24px;
  cursor: pointer;
}