

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
/* styles.css */
:root {
  --background-color: #ebebeb;
  --background-header: #e3f0f4;
  --background-drawer-menu: linear-gradient(135deg, #e9e1e1, #fb9f8d);
  --background-color-setting-menu: #ebebeb;
  --text-color: #000000;
}

[data-theme="dark"] {
  --background-color: #282c34;
  --background-header: #505050;
  --background-drawer-menu: linear-gradient(135deg, #242222, #de3615);
  --background-color-setting-menu: #36383a;
  --text-color: #ffffff;
}

 body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
    background-color: var(--background-color);
     color: var(--text-color);
}